
body{
background-color: #BF171C;
font-family: 'poppins', Sans-serif; 
margin: 0;
  color: white;
  text-align: center; 
}

/* Forside container */
.frontpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}

/* Forside overskrift */
.frontpage h1 {
  font-size: 4rem;
  margin-top: 2rem;
}

/* knap */
.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem auto;
    flex-direction: column;
}

.button-container button {
    background-color: #BF171C;
    border: 1px;
    border-color: white;
    font-size: 14px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
    width: 131px;
    padding: 10px 20px;
}



/* Billede rækker øverst */
.image-row1 {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem auto;
    max-width: 1200px;
    padding: 0 1rem;
}

.image-row1 img {
    width: 20%;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    bottom: 0%;
}

/* Billede rækker nederst */
.image-row2 {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem auto;
    max-width: 1200px;
    padding: 0 1rem;
}

.image-row2 img {
    width: 20%;
    height: 150px;
    border-radius: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    top: 0%;
}